.fondo-ayudar{
    width: 100%;
    height: 100%;
    background: url('../assets/fondo5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.formu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lg{
    @include flex();
}
.lg textarea{
    background-color: transparent;
    color: $principalcolor;
}
.lg input{
    width: 200px;
    height: 30px;
    background-color: black;
    color: $principalcolor;
    
}
.lg label{
    font-size: 25px;
    color: rgb(8, 243, 31);
}