.color{
    text-align: center;
    background-color: #864AF9;
}
.formu div{
    padding: 10px;
    vertical-align: middle;
}
.lg input{
    width: 200px;
    height: 30px;
}
.lg label{
    font-size: 25px;
}