.start{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}
.start-art{
    padding: 10px;
    color: black;
    background-color: #433f69;
    border: 1px solid white;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.start-art iframe{
    width: 100%;
}
.start-art p{
    font-size: 12px;
    color: black;
}
.sub{
    font-size: 35px;
    text-align: center;
}