.fondo-index{
    width: 100%;
    height: 100%;
    background: url('../assets/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.t1{
    grid-area: a1;
}
.t2{
    grid-area: a2;
}
.t3{
    grid-area: a3;
}
.t4{
    grid-area: a4;
}
.t5{
    grid-area: a5;
}
.t6{
    grid-area: a6;
}
.start{
  margin: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto,1fr);
  place-items: center center;
  grid-template-areas: 
  'a6 a3 a1'
  'a4 a5 a2';
  gap: 10px;
  
}
.start-art{
    color: white;
    width: 360px;
    height: 200px;
    display: flex;
    gap: 4px;   
}
.start-art iframe{
    width: 150px;
    height: 100%;
}

.start-div{
    padding: 3px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.start-div h2{
    font-size: 12px;
}
.sub{
    color: white;
    font-size: 35px;
    text-align: center;
}