footer{
    background-color: rgb(32, 5, 59);
    color: $principalcolor;
    text-align: center;
}
.displey{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.displey a{
    &:hover{
        background-color: rgb(158, 187, 187);
    }
}
