.presentation{
    padding-top: 20px;
}
.presentation-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: auto;
    grid-template-areas: "left left right right";
    

}
.presentation-header{
    grid-area: left;
    position: relative;
}
.presentation-header img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.presentation-content{
    color: white;
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
.presentation-content h1{
    font-size: 40px;
}
.presentation-content p{
    text-align: justify;
    font-size: 20px;
}
@mixin flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}