.presentation{
    padding-top: 20px;
}
.presentation-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: auto;
    grid-template-areas: "left left right right";
    

}
.presentation-header{
    grid-area: left;
    position: relative;
}
.presentation-header img{
    width: 100%;
    height: 550px;
    object-fit: fill;
}
.presentation-content{
    color:$principalcolor;
    height: 550px;
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    animation-name: contenido;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;

}
.presentation-content h1{
    font-size: 40px;
}
.presentation-content p{
    text-align: justify;
    font-size: 20px;
}
@mixin flex{
    display: flex;
    flex-direction: column;
    
}
@keyframes contenido{
    0%{
        background-color: transparent;
    }
    25%{
        background-color: rgb(196, 17, 17);
    }
    50%{
        background-color: rgb(24, 24, 141);
    }
    75%{
        background-color: rgb(116, 13, 13);
    }
    100%{
        background-color: transparent;
    }
}